version: '3.0'

services:
  api:
    image: samtecspg/articulate-api:repo-head
    ports: ['0.0.0.0:7500:7500']
    networks: ['alpha-nlu-network']
    entrypoint: ['node', 'start.js']
    environment:
     - SWAGGER_BASE_PATH
  ui:
    image: samtecspg/articulate-ui:repo-head
    ports: ['0.0.0.0:3000:3000']
    networks: ['alpha-nlu-network']
    environment:
     - API_URL
  rasa:
    image: samtecspg/articulate-rasa:repo-head
    ports: ['0.0.0.0:5000:5000']
    volumes: ["${MODEL_DIR:-./local-storage/rasa/nlu-model}:/app/projects", "${RASA_CONFIG:-./local-storage/rasa/rasa-config.yml}:/app/config.yml", "./local-storage/rasa/logs:/app/logs"]
    networks: ['alpha-nlu-network']
  rasa-tf:
    image: samtecspg/articulate-rasa:daniel-test-may25-2018-try03
    ports: ['0.0.0.0:9000:5000']
    volumes: ["${MODEL_DIR:-./local-storage/rasa/nlu-model}:/app/projects", "${RASA_CONFIG:-./local-storage/rasa/rasa-config-tf.yml}:/app/config.yml", "./local-storage/rasa/logs:/app/logs"]
    networks: ['alpha-nlu-network']
  duckling:
    image: samtecspg/duckling:0.1.6.0
    ports: ['0.0.0.0:8000:8000']
    networks: ['alpha-nlu-network']
  redis:
    image: redis:4.0.6-alpine
    ports: ['0.0.0.0:6379:6379']
    networks: ['alpha-nlu-network']
    command: redis-server --appendonly yes
    volumes:
      - ${REDIS_DATA:-./local-storage/redis-data}:/data
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_TAG:-6.5.1}
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports: ['9200:9200']
    networks: ['alpha-nlu-network']
    volumes:
      - ${ES_CONFIG:-./local-storage/elasticsearch/config/elasticsearch.yml}:/usr/share/elasticsearch/config/elasticsearch.yml
      - ${ES_DATA:-./local-storage/elasticsearch/data}:/usr/share/elasticsearch/data
  kibana:
    ports: ['5601:5601']
    image: docker.elastic.co/kibana/kibana:6.5.1
    networks: ['alpha-nlu-network']
networks: {alpha-nlu-network: {}}
