version: '3.0'

#
# The behavor of this compose can be highly (site) customized by creating
# a .env file in the root of the project.  see .env.example for an example
#

services:
  api:
    image: samtecspg/articulate-api:repo-head
    ports: ['0.0.0.0:7500:7500']
    networks: ['alpha-nlu-network']
    # The following (crazy) block is about both:
    # 1) setting default values for app parameteres
    # 2) projecting any changes to those values set in the .env file
    # a line should be added to this list for any env-var/param that the
    # app might need, and its easiest to follow if the var name is kept the
    # same for both the var thats projected into the app (the first name)
    # and the name thats expected in the .env (the second name)
    environment:
      - REDIS_HOST=${REDIS_HOST:-redis}
      - REDIS_PORT=${REDIS_PORT:-6379}
      - RASA_URL=${RASA_URL:-http://rasa:5000}
      - DUCKLING_URL=${DUCKLING_URL:-http://duckling:8000}
      - MODEL_DIR=${MODEL_DIR:-./local-storage/rasa/nlu-model}
      - DOCKER_INSTANCE=${DOCKER_INSTANCE:-localhost}
      - SWAGGER_HOST=${SWAGGER_HOST:-localhost}:7500
    volumes: ["${MODEL_DIR:-./local-storage/rasa/nlu-model}:/app/projects"]
    entrypoint: ['node', 'start.js']
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://${DOCKER_INSTANCE:-localhost}:7500/agent']
  ui:
    image: samtecspg/articulate-ui:repo-head
    ports: ['0.0.0.0:3000:3000']
    environment:
      - API_URL=${API_URL:-http://localhost:7500}
    networks: ['alpha-nlu-network']
  rasa:
    image: samtecspg/articulate-rasa:repo-head
    ports: ['0.0.0.0:5000:5000']
    volumes: ["${MODEL_DIR:-./local-storage/rasa/nlu-model}:/app/projects", "${RASA_CONFIG:-./local-storage/rasa/rasa-config.json}:/app/config.json"]
    networks: ['alpha-nlu-network']
  duckling:
    image: samtecspg/duckling:0.1.0.0
    ports: ['0.0.0.0:8000:8000']
    networks: ['alpha-nlu-network']
  redis:
    image: redis:4.0.6-alpine
    ports: ['0.0.0.0:6379:6379']
    networks: ['alpha-nlu-network']
    command: redis-server --appendonly yes
    volumes:
      - ${REDIS_DATA:-./local-storage/redis-data}:/data

networks: {alpha-nlu-network: {}}
