// Global variables
// Global colors

// Header variables
$header-height: 70px;

// Colors
$dark-green:#009B76;
$accent-green: #00CA9F;
$primary-color: #4e4e4e;
$accent-blue:#89d4ed;
$border-color: #E1E6EF;
