# As of June 8:
#
#  This file can serve two different (but related) roles:
#    1) Overriding a bunch of default settings in the docker-compose.yml
#    2) Overriding default settings in the API node.js app
#
#  In case #1 the .env file is read by docker-compose, setting any value in a ${var} block
#  (this includes a bunch of vars that are used in case #2)
#
#  In case #2 the .env file is read by the node.js app directly, so only values that are
#  defined in the app have any meaning (the docker vars (most likely) are ignored)


### Vars just used by docker-compose
#   --------------------------------
## MODEL_DIR - directory that the NLP projects model will be stored in
#MODEL_DIR=./nlu-model
## RASA_CONFIG - file to configure rasa settings
#RASA_CONFIG=./rasa-config.json
## REDIS_DATA - directroy that the redis database will be store in
#REDIS_DATA=./redis-data

### Vars used by the node.js app (which are ALSO projected through the docker-compose)
#   ----------------------------------------------------------------------------------
## REDIS_HOST - the host the app will try and reach the redis database via
#REDIS_HOST=redis
## REDIS_PORT - the port the app will try and reach the redis database via
#REDIS_PORT=6379
## SWAGGER_SCHEMES - Comma separeted strings. The transfer protocol of the API ie http or http, https
#SWAGGER_SCHEMES=http
## SWAGGER_HOST - The host (name or IP) serving the API including port if any i.e. localhost:7500
#SWAGGER_HOST=localhost:7500
## SWAGGER_BASE_PATH - The base path from where the API starts i.e. /v2/ (note, needs to start with /) - default: /
#SWAGGER_BASE_PATH=/
